
@{
    ViewData["Title"] = "Wystaw aukcję | Aukcje | Dział allegro";
    ViewData["Title_1"] = "Aukcje";
    ViewData["Title_2"] = "Dodaj nową aukcję";
}


<div class="box">

    <div class="box-header with-border">
        <h3 class="box-title">Wystaw nową aukcję</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Zwiń">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Zamknij">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body ">
        <form method="post">


            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2" for="auction_title">Tytuł aukcji</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="auction_title" id="auction_title" />
                        @ViewData["token"]
                    </div>
                </div>
                
            </div>

            <div class="col-md-12">
                
                <div class="col-md-6">
                    <h4>Dostawa i płatność</h4>
                </div>
                <div class="col-md-6">
                    <h4>
                        Formaty sprzedaży
                    </h4>
                </div>
            </div>

        </form>
    </div>

</div>

