@model Clutchlit.Models.Auction
@{ 
    ViewData["Title"] = "Edytuj aukcję | Aukcje | Dział allegro";
    ViewData["Title_1"] = "Aukcje";
    ViewData["Title_2"] = "Edytuj aukcję";
}

<div class="box">
    
    <div class="box-header with-border">
        <h3 class="box-title">Edytuj aukcję</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Zwiń">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Zamknij">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body ">

        <table id="example3" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tytuł aukcji</th>
                    <th>Kategoria</th>
                    <th>Miniatura</th>
                    <th>Cena</th>
                    <th>Obserwujący</th>
                    <th>Odwiedzin</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Tytuł aukcji</th>
                    <th>Kategoria</th>
                    <th>Miniatura</th>
                    <th>Cena</th>
                    <th>Obserwujący</th>
                    <th>Odwiedzin</th>
                </tr>
            </tfoot>
        </table>

    </div>

</div>
