
@{
    ViewData["Title"] = "Lista aukcji | Aukcje | Dział allegro";
    ViewData["Title_1"] = "Aukcje";
    ViewData["Title_2"] = "Lista aukcji";
}


<a href="https://allegro.pl/auth/oauth/authorize?response_type=code&client_id=9540e2fb36494067a66ce9dccba00ff4&redirect_uri=http://clutchlit.trimfit.pl/AllegroAuctions/GetList/api/" class="btn bg-orange">Zaloguj się do Allegro</a>
<a id="end_selected" class="btn bg-orange">Wyłącz zaznaczone</a>
<a id="start_selected" class="btn bg-orange">Włącz zaznaczone</a>
<span style="float:left; width:100%; height:30px;"></span>

<div class="box">

    <div class="box-header with-border">
        <h3 class="box-title">Lista aukcji</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Zwiń">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Zamknij">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body ">

        <table id="example3" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tytuł aukcji</th>
                    <th>Kategoria</th>
                    <th>Miniatura</th>
                    <th>Cena</th>
                    <th>Obserwujący</th>
                    <th>Odwiedzin</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Tytuł aukcji</th>
                    <th>Kategoria</th>
                    <th>Miniatura</th>
                    <th>Cena</th>
                    <th>Obserwujący</th>
                    <th>Odwiedzin</th>
                    <th>Status</th>
                </tr>
            </tfoot>
        </table>

    </div>

</div>
<form method="post" id="getoffers">
    <input id="button2" class="btn bg-orange" type="submit" value="Pokaż aukcje">
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8L9RF70STjNFswilCrXvKj_ppw0zRJR7JtIEAGz7BBL3SznWZ8hzYXc_C8ZIbHmDUX5-Qbr7cxf9jKukSijkcnuJaF_yY9PYLrEPyFK_iWLUabrgow9Kgb-hUbar1jaw9ST-8U3NJGZjm2tm1Co_8q4R3bU0Z6ovKXm1jnI0StuFLZXAF_-w_9MvkK3AqIqCRA">
</form>
