@{
    ViewData["Title"] = "Home Page";
    ViewData["Title_1"] = "Dashboard";
    ViewData["Title_2"] = "Strona główna";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>150</h3>
                <p>Nowych zamówień</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>400,001</h3>
                <p>Cen u dystrybutorów</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>44</h3>
                <p>Zarejestrowanych użytkowników</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>
                <p>Wizyt</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Podgląd zamówień</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Zwiń">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Zamknij">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="box-body">

    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="fb-page" data-href="https://www.facebook.com/sprzegla24/" data-tabs="timeline" data-small-header="false" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/sprzegla24/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sprzegla24/">Sprzegla24.pl</a></blockquote></div>
    </div>
    <div class="col-md-6">
        <div class="fb-page" data-href="https://www.facebook.com/sprzeglocompl/" data-tabs="timeline" data-adapt-container-width="true" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/sprzeglocompl/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sprzeglocompl/">Sprzeglo.com.pl</a></blockquote></div>
    </div>
</div>