@model IEnumerable<Manufacturer>
@{
    ViewData["Title"] = "Wszystkie zamówienia | Zamówienia | Dział handlowy";
    ViewData["Title_1"] = "Zamówienia";
    ViewData["Title_2"] = "Wszystkie zamówienia";
}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Sprzeglo.com.pl</h3>

    </div>
    <div class="box-body ">
        <table id="all_orders_spcom" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Płatnośc</th>
                    <th>Produkty</th>
                    <th>Dost.</th>
                    <th>Cena</th>
                    <th>Klient</th>
                    <th>Adres wysyłki</th>
                    <th>Dane faktury</th>
                    <th>Informacje</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Płatnośc</th>
                    <th>Produkty</th>
                    <th>Dost.</th>
                    <th>Cena</th>
                    <th>Klient</th>
                    <th>Adres wysyłki</th>
                    <th>Dane faktury</th>
                    <th>Informacje</th>
                    <th>Status</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Sprzegla24.pl</h3>

    </div>
    <div class="box-body ">
        <table id="all_orders_sp24" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Płatnośc</th>
                    <th>Produkty</th>
                    <th>Dost.</th>
                    <th>Cena</th>
                    <th>Klient</th>
                    <th>Adres wysyłki</th>
                    <th>Dane faktury</th>
                    <th>Informacje</th>
                    <th>Status</th>
                    <th>Edytuj</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Płatnośc</th>
                    <th>Produkty</th>
                    <th>Dost.</th>
                    <th>Cena</th>
                    <th>Klient</th>
                    <th>Adres wysyłki</th>
                    <th>Dane faktury</th>
                    <th>Informacje</th>
                    <th>Status</th>
                    <th>Edytuj</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
