@{
    ViewData["Title"] = "Sprzeglo.com.pl | Zamówienia | Dział handlowy";
    ViewData["Title_1"] = "Zamówienia";
    ViewData["Title_2"] = "Sprzeglo.com.pl";
}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Sprzeglo.com.pl</h3>
        
    </div>
    <div class="box-body ">
    </div>
</div>

